In [1]:
import pandas as pd
import datetime as dt
import os, sys

In [2]:
path = '/home/incogrev/BTC_Wallet/datafiles/'
dirs = os.listdir(path)
#dirs

In [3]:
#reading all files' last record into a dataframe
dropCSV_list = ['expense.csv', 'rollingpnl.csv']

for file in dropCSV_list:
    if file in dirs:
        dirs.pop(dirs.index(file))        

dfRevenue = pd.DataFrame()
for file in dirs:
    rec = pd.read_csv(path+file).tail(1).fillna(0)
    dfRevenue = pd.concat([dfRevenue, rec])
dfRevenue = dfRevenue.reset_index(drop=True)
print("Revenue")
dfRevenue

Revenue

     source category      balance            timestamp
0  poloniex   income  2914.934169  2017-04-11 21:29:05
1    paypal   income  1914.800000  2017-04-10 08:10:33
2  coinbase   income     0.000000  2017-04-11 21:29:06
3  localbtc   income     0.000000  2017-04-11 21:29:06
4  bitfinex   income  3887.973809  2017-04-11 21:29:03

In [4]:
dfRevenue['timestamp'] = pd.to_datetime(dfRevenue['timestamp'])
dfRevenue['date']  = dfRevenue['timestamp'].dt.date

dictRevenue = { 'revenue':[sum(dfRevenue['balance'],)], 'date': [max(dfRevenue['date']),]}
dfIncome = pd.DataFrame(dictRevenue)

#dictRevenue
#print("Total Revenue")
#dfIncome

In [5]:
dfExpense = pd.read_csv(path+'expense.csv').tail(1).fillna(0)
print("Expenses")
dfExpense

Expenses

   investor_capital  general_ledger  customer_loans        date
0             11000             500             500  2017-04-11

In [6]:
dictTransaction = {'expense':[sum(dfExpense['investor_capital']+dfExpense['general_ledger']+dfExpense['customer_loans']),], 
                   'date': [max(dfExpense['date']),]}
dfTransaction = pd.DataFrame(dictTransaction)
dfTransaction['date'] = pd.to_datetime(dfTransaction['date'])
dfTransaction['date'] = dfTransaction['date'].dt.date
#print("Total Expenses")
#dfTransaction

In [7]:
dfPnL = dfTransaction
dfPnL = dfPnL.merge(dfIncome, on = 'date')
dfPnL['PnL'] = dfPnL['revenue'] - dfPnL['expense']
#print("P/L Statement")
#dfPnL

In [8]:
existingPnL = pd.read_csv(path+'rollingpnl.csv').fillna(0)
existingPnL['date'] = pd.to_datetime(existingPnL['date'])
existingPnL['date'] = existingPnL['date'].dt.date

In [9]:
existingPnL = existingPnL[~existingPnL.date.isin(dfPnL.date)]

In [10]:
existingPnL = pd.concat([existingPnL, dfPnL]).fillna(0)

In [11]:
col_list = ['date', 'revenue', 'expense']
existingPnL = existingPnL[col_list]
existingPnL['PnL'] = existingPnL['revenue'] - existingPnL['expense']
existingPnL = existingPnL.sort_values(by = 'date').reset_index(drop = True)

In [12]:
existingPnL['rollingAvg'] = existingPnL['PnL'].rolling(window = 30).mean()

In [13]:
existingPnL.tail(1)

          date  revenue  expense     PnL  rollingAvg
35  2017-05-06   3252.0   1524.0  1728.0 -288.576401

In [14]:
existingPnL.to_csv(path_or_buf= path + 'rollingpnl.csv')